


---


---

# Final Project


---

###Step 1: Preparations

- 1.1 Mounting drive and importing the data

- 1.2 Adding the Rating column into books table

- 1.3 Cleaning the data and making it ready for use

- 1.4 Clearing each column

###Step 2: Add description column
- Adding the column with the description from Google Books API and loading it into a CSV

### Step 3: Add Author table

- 3.1. Create table and add description and image columns
- 3.2. Use Wikipedia API to extract description and Image for each author
- 3.3. Add a column showing how many books the author wrote


### Step 4: Functions for dataset query

- 4.1 Function to implement the search bar

### Step 5: Implement Login based on User Table
- 5.1 Make User DataFrame

- 5.2 Register

- 5.3 Login using the information in the user table

---


---

# Step 1: Preparations
1.1 Mount drive and import the data

1.2 Clean data

## 1.1 Mounting drive and importing the data

In [5]:
# Mounting the drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [6]:
%cd /content/drive/MyDrive

/content/drive/MyDrive

Books DataFrame:

In [7]:
import pandas as pd
import chardet

with open('BX-Books.csv', 'rb') as file:
    result = chardet.detect(file.read())

In [93]:
df = pd.read_csv('BX-Books.csv', encoding=result['encoding'])
df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271375,0525447644,From One to One Hundred,Teri Sloat,1991.0,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004.0,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271377,0192126040,Republic (World's Classics),Plato,1996.0,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000.0,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

## 1.2 Adding the rating column
- rating column will be the average rating of each book based on BX-Book-Ratings.csv

In [9]:
with open('BX-Book-Ratings.csv', 'rb') as file:
    result = chardet.detect(file.read())

In [94]:
df_ratings = pd.read_csv('BX-Book-Ratings.csv', encoding=result['encoding'],delimiter=";")
df_ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [95]:
df_ratings = df_ratings[df_ratings['ISBN'].str.contains(r'^\d{9}[\d|X]$', na=False)]
df_ratings

         User-ID        ISBN  Book-Rating
0         276725  034545104X            0
1         276726  0155061224            5
2         276727  0446520802            0
3         276729  052165615X            3
4         276729  0521795028            6
...          ...         ...          ...
1149774   276704  0876044011            0
1149775   276704  1563526298            9
1149776   276706  0679447156            0
1149777   276709  0515107662           10
1149778   276721  0590442449           10

[1137806 rows x 3 columns]

In [96]:
# Average book rating for each ISBN
df_ratings = df_ratings.groupby('ISBN')['Book-Rating'].mean().reset_index()
df_ratings = df_ratings[df_ratings['Book-Rating'] > 5].sort_values(by='Book-Rating',ascending=False)
df_ratings

              ISBN  Book-Rating
331033  9998914140    10.000000
257592  1571290532    10.000000
117883  0465067840    10.000000
117882  046506776X    10.000000
257578  157120041X    10.000000
...            ...          ...
127333  0552137030     5.032258
164316  0679886370     5.027778
82905   0393312836     5.019231
147093  0618002219     5.014286
52965   0345339681     5.007117

[80740 rows x 2 columns]

## 1.3 Cleaning the data and preparing it for use

Looking at the data, all columns are relevant to the website:
- ISBN: used to search for books to retrieve useful information
- Book Title
- Book Author: used to search for authors to retrieve useful information
- Year of Publication
- Publisher: could be added as an information above the description
- Image-URL: comes in 3 different sizes. All three sizes may be needed when developing the website.

In [97]:
print(f"Data type information: ")
df.info()

Data type information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271379 entries, 0 to 271378
Data columns (total 8 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271379 non-null  object
 1   Book-Title           271379 non-null  object
 2   Book-Author          271378 non-null  object
 3   Year-Of-Publication  271357 non-null  float64
 4   Publisher            271377 non-null  object
 5   Image-URL-S          271379 non-null  object
 6   Image-URL-M          271379 non-null  object
 7   Image-URL-L          271376 non-null  object
dtypes: float64(1), object(7)
memory usage: 16.6+ MB

In [98]:
# Check for missing values
missing_values = df.isnull().sum()
print(missing_values)

ISBN                    0
Book-Title              0
Book-Author             1
Year-Of-Publication    22
Publisher               2
Image-URL-S             0
Image-URL-M             0
Image-URL-L             3
dtype: int64

In [99]:
# Clear ISBN column
df = df[df['ISBN'].str.contains(r'^\d{9}[\d|X]$', na=False)]
df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271375,0525447644,From One to One Hundred,Teri Sloat,1991.0,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004.0,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271377,0192126040,Republic (World's Classics),Plato,1996.0,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000.0,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [100]:
# Delete data with null values for publication date
df[df['Year-Of-Publication'].isnull()]
df.dropna(subset=['Year-Of-Publication'],inplace=True)
df

<ipython-input-100-7ad27e241629>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(subset=['Year-Of-Publication'],inplace=True)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271375,0525447644,From One to One Hundred,Teri Sloat,1991.0,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004.0,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271377,0192126040,Republic (World's Classics),Plato,1996.0,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000.0,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [101]:
df.reset_index(inplace=True)
df.rename(columns={'index': 'ID'}, inplace=True)
df

<ipython-input-101-bd3785ea0e96>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'index': 'ID'}, inplace=True)

,ID,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0,0195153448,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,1,0002005018,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,2,0060973129,Decision in Normandy,Carlo D'Este,1991.0,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999.0,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999.0,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...,...
270823,271374,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
270824,271375,0525447644,From One to One Hundred,Teri Sloat,1991.0,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
270825,271376,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004.0,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
270826,271377,0192126040,Republic (World's Classics),Plato,1996.0,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
270827,271378,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000.0,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

We only recommend the books that have a good rating, so joining the table with a rating above 5 and the Books table, we get the final dataframe that is ready to get cleaned.

In [102]:
# Join the two tables to add the Rating column
df = pd.merge(df,df_ratings,on='ISBN')[['ISBN','Book-Title','Book-Author','Year-Of-Publication','Publisher','Book-Rating','Image-URL-S','Image-URL-M','Image-URL-L']]
df

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Book-Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998.0,Brilliance Audio - Trade,6.000000,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
1,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999.0,Three Rivers Press,5.684211,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
2,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998.0,Aladdin,6.000000,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
3,3404921038,Wie Barney es sieht.,Mordecai Richler,2002.0,L??¼bbe,7.500000,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...
4,0245542957,Pacific Northwest,Hans Johannes Hoefer,1985.0,Chambers Harrap Publishers Ltd,6.000000,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...
...,...,...,...,...,...,...,...,...,...
62322,3548740146,Wicca. Eine Einf??¼hrung in wei????e Magie.,Scott Cunningham,2001.0,"Ullstein TB-Vlg., B.",6.000000,http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...
62323,381440176X,"Ein Fall f??¼r TKKG, Bd.50, Sklaven f??¼r Wutawia",Stefan Wolf,1989.0,Pelikan,8.000000,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...
62324,0395264707,Dreamsnake,Vonda N. McIntyre,1978.0,Houghton Mifflin,10.000000,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
62325,1845170423,Cocktail Classics,David Biggs,2004.0,Connaught,7.000000,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
62326,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),7.000000,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

## 1.4 Clearing each column using a regex/ validation of data:

First, change the datatypes of each column and replace the name

In [103]:
df['Year-Of-Publication'] = df['Year-Of-Publication'].astype(int)
df['Book-Rating'] = df['Book-Rating'].astype(int)

new_column_names = {'Book-Title': 'Title', 'Book-Author': 'Author', 'Book-Rating': 'Rating'}
df.rename(columns=new_column_names, inplace=True)

df

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,6,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
1,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,5,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
2,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin,6,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
3,3404921038,Wie Barney es sieht.,Mordecai Richler,2002,L??¼bbe,7,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...,http://images.amazon.com/images/P/3404921038.0...
4,0245542957,Pacific Northwest,Hans Johannes Hoefer,1985,Chambers Harrap Publishers Ltd,6,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...
...,...,...,...,...,...,...,...,...,...
62322,3548740146,Wicca. Eine Einf??¼hrung in wei????e Magie.,Scott Cunningham,2001,"Ullstein TB-Vlg., B.",6,http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...,http://images.amazon.com/images/P/3548740146.0...
62323,381440176X,"Ein Fall f??¼r TKKG, Bd.50, Sklaven f??¼r Wutawia",Stefan Wolf,1989,Pelikan,8,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...,http://images.amazon.com/images/P/381440176X.0...
62324,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin,10,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
62325,1845170423,Cocktail Classics,David Biggs,2004,Connaught,7,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
62326,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),7,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

### a. ISBN column

In [104]:
# Check if IBSN is unique and set it as index
df['ISBN'].is_unique

True

### b. String columns (Book-Title, Book-Author, Publisher)

Function that creates a new dataframe containins the rows that only have ascii encoding.

In [105]:
import re

def clear_column(col:str,df:pd.DataFrame) -> pd.DataFrame:
  """ returns a dataframe containing only rows that are ascii encoded"""
  ascii_rows = []

  for index, title in df[col].items():
      result = chardet.detect(str(title).encode())
      if result['encoding'] == 'ascii':
          ascii_rows.append(index)

  new_df = df.loc[ascii_rows]
  return new_df

In [106]:
df = clear_column('Title',df)
df = clear_column('Author',df)
df = clear_column('Publisher',df)
df

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,6,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
1,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,5,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
2,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin,6,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
4,0245542957,Pacific Northwest,Hans Johannes Hoefer,1985,Chambers Harrap Publishers Ltd,6,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...
5,0394743741,The yawning heights,Aleksandr Zinoviev,1980,Random House,7,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...
...,...,...,...,...,...,...,...,...,...
62320,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne,9,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...
62321,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hans-Ulrich Wehler,1994,Vandenhoeck &amp; Ruprecht,8,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...
62324,0395264707,Dreamsnake,Vonda N. McIntyre,1978,Houghton Mifflin,10,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
62325,1845170423,Cocktail Classics,David Biggs,2004,Connaught,7,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
62326,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),7,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

In [107]:
pattern = r'&(\w)*(;)*|[\\"]'
df['Publisher'] = df['Publisher'].str.replace(pattern, '&')
df['Title'] = df['Title'].str.replace(pattern, '')
df['Author'] = df['Author'].str.replace('[^a-zA-Z\s\.]', '')
df['Author'] = df['Author'].str.title()
df

<ipython-input-107-da7fc5f466ae>:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Publisher'] = df['Publisher'].str.replace(pattern, '&')
<ipython-input-107-da7fc5f466ae>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Title'] = df['Title'].str.replace(pattern, '')
<ipython-input-107-da7fc5f466ae>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Author'] = df['Author'].str.replace('[^a-zA-Z\s\.]', '')

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998,Brilliance Audio - Trade,6,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
1,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999,Three Rivers Press,5,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
2,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998,Aladdin,6,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
4,0245542957,Pacific Northwest,Hans Johannes Hoefer,1985,Chambers Harrap Publishers Ltd,6,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...
5,0394743741,The yawning heights,Aleksandr Zinoviev,1980,Random House,7,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...
...,...,...,...,...,...,...,...,...,...
62320,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993,Heyne,9,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...
62321,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hansulrich Wehler,1994,Vandenhoeck & Ruprecht,8,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...
62324,0395264707,Dreamsnake,Vonda N. Mcintyre,1978,Houghton Mifflin,10,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
62325,1845170423,Cocktail Classics,David Biggs,2004,Connaught,7,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
62326,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),7,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

### c. Year-Of-Publication Column

In [108]:
import numpy as np

condition = (df['Year-Of-Publication'] < 1000) | (df['Year-Of-Publication'] > 2023)
df.loc[condition, 'Year-Of-Publication'] = np.nan

df

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L
0,1567407781,The Witchfinder (Amos Walker Mystery Series),Loren D. Estleman,1998.0,Brilliance Audio - Trade,6,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...,http://images.amazon.com/images/P/1567407781.0...
1,0609804618,Our Dumb Century: The Onion Presents 100 Years...,The Onion,1999.0,Three Rivers Press,5,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...,http://images.amazon.com/images/P/0609804618.0...
2,0689821166,Flood : Mississippi 1927,Kathleen Duey,1998.0,Aladdin,6,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...,http://images.amazon.com/images/P/0689821166.0...
4,0245542957,Pacific Northwest,Hans Johannes Hoefer,1985.0,Chambers Harrap Publishers Ltd,6,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...,http://images.amazon.com/images/P/0245542957.0...
5,0394743741,The yawning heights,Aleksandr Zinoviev,1980.0,Random House,7,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...,http://images.amazon.com/images/P/0394743741.0...
...,...,...,...,...,...,...,...,...,...
62320,3453065123,Ich war Hitlerjunge Salomon. ( erlebt und erfa...,Sally Perel,1993.0,Heyne,9,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...,http://images.amazon.com/images/P/3453065123.0...
62321,3525335423,Das Deutsche Kaiserreich 1871-1918.,Hansulrich Wehler,1994.0,Vandenhoeck & Ruprecht,8,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...,http://images.amazon.com/images/P/3525335423.0...
62324,0395264707,Dreamsnake,Vonda N. Mcintyre,1978.0,Houghton Mifflin,10,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...,http://images.amazon.com/images/P/0395264707.0...
62325,1845170423,Cocktail Classics,David Biggs,2004.0,Connaught,7,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...,http://images.amazon.com/images/P/1845170423.0...
62326,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988.0,Random House Childrens Pub (Mm),7,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...

## 1.5 Selecting only top rated books

In [109]:
df_top = df.sort_values(by='Rating',ascending=False).head(180)

# Step 2: Add description column

In [110]:
import requests
import json
import time

url = "https://www.googleapis.com/books/v1/volumes"
api_key = input("API Key:")

for i in df_top['ISBN']:

  params = {
      'q': 'isbn:' + i,
      'key': api_key
  }

  response = requests.get(url, params=params)
  data = response.json()
  try:
    if data['totalItems'] == 0:
      df_top = df_top.drop(df_top.loc[df_top['ISBN'] == i].index)
    else:
      description = data['items'][0]['volumeInfo'].get('description', '')
      df_top.loc[df_top['ISBN'] == i, 'Description'] = description
  except KeyError:
    df_top = df_top.drop(df_top.loc[df_top['ISBN'] == i].index)
  time.sleep(0.05)

df_top

API Key:AIzaSyC4BZEZ5igdJRMzXOFDj005XTAIofTrB1A

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L,Description
20964,1901289060,Encyclopedia of Herbs Spices,Linda Fraser,NaN,Hermes 2,10,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,"This encyclopedia includes a history of herbs,..."
19959,0385231180,Starring Mothers: 30 Portraits of Accomplished...,Jill Barber,1987.0,Bantam Dell Pub Group,10,http://images.amazon.com/images/P/0385231180.0...,http://images.amazon.com/images/P/0385231180.0...,http://images.amazon.com/images/P/0385231180.0...,Interviews with notably accomplished women suc...
19968,0307244105,Seashells of the World: A Guide to the Better-...,R. Tucker Abbott,1962.0,St Martins Pr,10,http://images.amazon.com/images/P/0307244105.0...,http://images.amazon.com/images/P/0307244105.0...,http://images.amazon.com/images/P/0307244105.0...,"A guide for the identification of shells, incl..."
19967,0810944731,Paul J. Stankard,Ulysses Grant Dietz,1996.0,Harry N Abrams,10,http://images.amazon.com/images/P/0810944731.0...,http://images.amazon.com/images/P/0810944731.0...,http://images.amazon.com/images/P/0810944731.0...,"Since childhood, nature has always been import..."
19966,0590438492,Buried in Ice (Time Quest Book),Owen Beattie,1993.0,Scholastic,10,http://images.amazon.com/images/P/0590438492.0...,http://images.amazon.com/images/P/0590438492.0...,http://images.amazon.com/images/P/0590438492.0...,Probes the tragic and mysterious fate of Sir J...
...,...,...,...,...,...,...,...,...,...,...
19667,0213177900,The philosopher's stone,Colin Wilson,1969.0,Barker,10,http://images.amazon.com/images/P/0213177900.0...,http://images.amazon.com/images/P/0213177900.0...,http://images.amazon.com/images/P/0213177900.0...,
19666,0807127914,Dagon (Voices of the South),Fred Chappell,2002.0,Louisiana State University Press,10,http://images.amazon.com/images/P/0807127914.0...,http://images.amazon.com/images/P/0807127914.0...,http://images.amazon.com/images/P/0807127914.0...,"Peter Leland, a young minister, inherits his g..."
19665,1587155737,The House on the Borderland,Hodgson William Hope,2003.0,Wildside Press,10,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,From the Manuscript discovered in 1877 by Mess...
19664,0755107888,Ancient Sorceries and Other Stories,Algernon Blackwood,2001.0,House of Stratus,10,http://images.amazon.com/images/P/0755107888.0...,http://images.amazon.com/images/P/0755107888.0...,http://images.amazon.com/images/P/0755107888.0...,"Dr John Silence, Algernon Blackwood’s psychic ..."
19661,0586072098,LOVECRAFTS BOOK,Richard Lupoff,1987.0,HarperCollins Publishers,10,http://images.amazon.com/images/P/0586072098.0...,http://images.amazon.com/images/P/0586072098.0...,http://images.amazon.com/images/P/0586072098.0...,

In [111]:
df_top.reset_index(drop=True, inplace=True)
df_top.rename(columns={'index': 'ID'}, inplace=True)
df_top

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L,Description
0,1901289060,Encyclopedia of Herbs Spices,Linda Fraser,NaN,Hermes 2,10,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,"This encyclopedia includes a history of herbs,..."
1,0385231180,Starring Mothers: 30 Portraits of Accomplished...,Jill Barber,1987.0,Bantam Dell Pub Group,10,http://images.amazon.com/images/P/0385231180.0...,http://images.amazon.com/images/P/0385231180.0...,http://images.amazon.com/images/P/0385231180.0...,Interviews with notably accomplished women suc...
2,0307244105,Seashells of the World: A Guide to the Better-...,R. Tucker Abbott,1962.0,St Martins Pr,10,http://images.amazon.com/images/P/0307244105.0...,http://images.amazon.com/images/P/0307244105.0...,http://images.amazon.com/images/P/0307244105.0...,"A guide for the identification of shells, incl..."
3,0810944731,Paul J. Stankard,Ulysses Grant Dietz,1996.0,Harry N Abrams,10,http://images.amazon.com/images/P/0810944731.0...,http://images.amazon.com/images/P/0810944731.0...,http://images.amazon.com/images/P/0810944731.0...,"Since childhood, nature has always been import..."
4,0590438492,Buried in Ice (Time Quest Book),Owen Beattie,1993.0,Scholastic,10,http://images.amazon.com/images/P/0590438492.0...,http://images.amazon.com/images/P/0590438492.0...,http://images.amazon.com/images/P/0590438492.0...,Probes the tragic and mysterious fate of Sir J...
...,...,...,...,...,...,...,...,...,...,...
101,0213177900,The philosopher's stone,Colin Wilson,1969.0,Barker,10,http://images.amazon.com/images/P/0213177900.0...,http://images.amazon.com/images/P/0213177900.0...,http://images.amazon.com/images/P/0213177900.0...,
102,0807127914,Dagon (Voices of the South),Fred Chappell,2002.0,Louisiana State University Press,10,http://images.amazon.com/images/P/0807127914.0...,http://images.amazon.com/images/P/0807127914.0...,http://images.amazon.com/images/P/0807127914.0...,"Peter Leland, a young minister, inherits his g..."
103,1587155737,The House on the Borderland,Hodgson William Hope,2003.0,Wildside Press,10,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,From the Manuscript discovered in 1877 by Mess...
104,0755107888,Ancient Sorceries and Other Stories,Algernon Blackwood,2001.0,House of Stratus,10,http://images.amazon.com/images/P/0755107888.0...,http://images.amazon.com/images/P/0755107888.0...,http://images.amazon.com/images/P/0755107888.0...,"Dr John Silence, Algernon Blackwood’s psychic ..."
105,0586072098,LOVECRAFTS BOOK,Richard Lupoff,1987.0,HarperCollins Publishers,10,http://images.amazon.com/images/P/0586072098.0...,http://images.amazon.com/images/P/0586072098.0...,http://images.amazon.com/images/P/0586072098.0...,

### Export books table to CSV

In [169]:
df_top.to_csv('Books.csv', sep=';', header=True, index=True)

# Step 3: Make an Author table

### 3.1. Create table and add description and image columns

In [159]:
df_authors = df_top['Author'].reset_index()
df_authors['Description'] = ''
df_authors['Image'] = ''
df_authors

     index                Author Description Image
0        0          Linda Fraser
1        1           Jill Barber
2        2      R. Tucker Abbott
3        3   Ulysses Grant Dietz
4        4          Owen Beattie
..     ...                   ...         ...   ...
101    101          Colin Wilson
102    102         Fred Chappell
103    103  Hodgson William Hope
104    104    Algernon Blackwood
105    105        Richard Lupoff

[106 rows x 4 columns]

### 3.2. Use Wikipedia API to extract description and Image for each author

In [161]:
import requests

for i in df_authors['Author']:
    base_url = 'https://en.wikipedia.org/w/api.php'
    params = {
        'action': 'query',
        'format': 'json',
        'prop': 'extracts|pageimages',
        'exintro': '',
        'explaintext': '',
        'titles': i
    }

    response = requests.get(base_url, params=params)
    data = response.json()

    # Get the page ID of the author
    page_id = next(iter(data['query']['pages'].keys()))

    try:
      desc = data['query']['pages'][page_id]['extract']
      img = data['query']['pages'][page_id]['thumbnail']['source']
      df_authors.loc[df_authors['Author'] == i, 'Description'] = desc
      df_authors.loc[df_authors['Author'] == i, 'Image'] = img
    except:
      continue

In [164]:
df_authors.replace('',np.nan,inplace=True)
df_authors.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   index        106 non-null    int64
 1   Author       106 non-null    object
 2   Description  23 non-null     object
 3   Image        23 non-null     object
dtypes: int64(1), object(3)
memory usage: 3.4+ KB

In [165]:
df_authors

,index,Author,Description,Image
0,0,Linda Fraser,NaN,NaN
1,1,Jill Barber,"Jill Barber (born February 6, 1980) is a Canad...",https://upload.wikimedia.org/wikipedia/commons...
2,2,R. Tucker Abbott,NaN,NaN
3,3,Ulysses Grant Dietz,NaN,NaN
4,4,Owen Beattie,NaN,NaN
...,...,...,...,...
101,101,Colin Wilson,Colin Henry Wilson (26 June 1931 – 5 December ...,https://upload.wikimedia.org/wikipedia/commons...
102,102,Fred Chappell,"Fred Davis Chappell (born May 28, 1936 in Cant...",https://upload.wikimedia.org/wikipedia/commons...
103,103,Hodgson William Hope,NaN,NaN
104,104,Algernon Blackwood,"Algernon Henry Blackwood, CBE (14 March 1869 –...",https://upload.wikimedia.org/wikipedia/commons...
105,105,Richard Lupoff,NaN,NaN

### 3.3. Add a column showing how many books the author wrote

In [ ]:
df_auth_count=df_top.groupby('Author')['Title'].count().reset_index()
df_authors = pd.merge(df_auth_count,df_authors,on='Author')[['index','Author','Description','Image','Title']]
df_authors.rename(columns={'index':'ID','Title':'No_Books'},inplace=True)

In [168]:
df_authors

,ID,Author,Description,No_Books,Image
0,45,Ahdaf Soueif,Ahdaf Soueif (Arabic: أهداف سويف; born 23 Marc...,1,https://upload.wikimedia.org/wikipedia/commons...
1,104,Algernon Blackwood,"Algernon Henry Blackwood, CBE (14 March 1869 –...",1,https://upload.wikimedia.org/wikipedia/commons...
2,11,Alice Muncaster,NaN,1,NaN
3,33,Ani Afshar,NaN,1,NaN
4,76,Arlene Alda,NaN,1,NaN
...,...,...,...,...,...
101,73,Vicki Grove,NaN,1,NaN
102,29,Vicki Willder,NaN,1,NaN
103,17,Wayne Swanson,NaN,1,NaN
104,22,Wendy Conner,NaN,1,NaN
105,43,William E. Rae,NaN,1,NaN

In [170]:
df_authors.to_csv('Authors.csv', sep=';', header=True, index=True)

# Step 4: Functions for dataset query

### 4.1 Function to implement the search bar

In [181]:
def search_bar(search,df):
  df = df.astype(str)

  filtered_df = df[df.applymap(lambda x: search in str(x)).any(axis=1)]
  return filtered_df

In [189]:
while True:
  option = input("""Search for:
  1. Authors
  2. Books
  3. Exit
  Option := """)

  dict_options = {
      "1": df_authors,
      "2": df_top
  }

  if option in dict_options:
    search = input("Search: ")
    display(search_bar(search,dict_options[option]))
  elif option == "3":
    break
  else:
    print("No valid option. ")

Search for:
  1. Authors
  2. Books
  3. Exit
  Option := 1
Search: Will

,ID,Author,Description,No_Books,Image
40,103,Hodgson William Hope,nan,1,nan
51,64,John Page Jr. Williams,nan,1,nan
55,71,Jules Verne,Jules Gabriel Verne (; French: [ʒyl gabʁijɛl v...,1,https://upload.wikimedia.org/wikipedia/commons...
102,29,Vicki Willder,nan,1,nan
105,43,William E. Rae,nan,1,nan

Search for:
  1. Authors
  2. Books
  3. Exit
  Option := 2
Search: Encyclo

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L,Description
0,1901289060,Encyclopedia of Herbs Spices,Linda Fraser,nan,Hermes 2,10,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,http://images.amazon.com/images/P/1901289060.0...,"This encyclopedia includes a history of herbs,..."
47,1574323539,Collector's Encyclopedia of Depression Glass (...,Gene Florence,2003.0,Collector Books,10,http://images.amazon.com/images/P/1574323539.0...,http://images.amazon.com/images/P/1574323539.0...,http://images.amazon.com/images/P/1574323539.0...,Gene Florence now presents this completely rev...
48,0891451390,The Collectors Encyclopedia of Roseville Potte...,Sharon Huxford,1980.0,Collector Books,10,http://images.amazon.com/images/P/0891451390.0...,http://images.amazon.com/images/P/0891451390.0...,http://images.amazon.com/images/P/0891451390.0...,The first book of this colorful series feature...
53,0891450785,The Collector's Encyclopedia of Brush-McCoy Po...,Sharon Huxford,1996.0,Collector Books,10,http://images.amazon.com/images/P/0891450785.0...,http://images.amazon.com/images/P/0891450785.0...,http://images.amazon.com/images/P/0891450785.0...,Brush-McCoy Pottery has always been popular wi...
58,0891450688,Collector's Encyclopedia of McCoy Pottery,Sharon Huxford,1979.0,Collector Books,10,http://images.amazon.com/images/P/0891450688.0...,http://images.amazon.com/images/P/0891450688.0...,http://images.amazon.com/images/P/0891450688.0...,The most popular writers in the pottery field ...

Search for:
  1. Authors
  2. Books
  3. Exit
  Option := 2
Search: 2003

,ISBN,Title,Author,Year-Of-Publication,Publisher,Rating,Image-URL-S,Image-URL-M,Image-URL-L,Description
32,0393321738,Bob Marley: Spirit Dancer,Bruce W. Talamon,2003.0,W.W. Norton & Company,10,http://images.amazon.com/images/P/0393321738.0...,http://images.amazon.com/images/P/0393321738.0...,http://images.amazon.com/images/P/0393321738.0...,Photographs depict the poignant months precedi...
37,1887654151,Student Entrepreneurs: 14 Undergraduate All-St...,Michael Mcmyne,2003.0,Premium Press America,10,http://images.amazon.com/images/P/1887654151.0...,http://images.amazon.com/images/P/1887654151.0...,http://images.amazon.com/images/P/1887654151.0...,Author Michael McMyne compiles this collection...
39,1931499276,Beadwork Creates Beaded Beads: 30 Designs (Bea...,Jean Campbell,2003.0,Interweave Press,10,http://images.amazon.com/images/P/1931499276.0...,http://images.amazon.com/images/P/1931499276.0...,http://images.amazon.com/images/P/1931499276.0...,Whether covering a big bead with small beads o...
47,1574323539,Collector's Encyclopedia of Depression Glass (...,Gene Florence,2003.0,Collector Books,10,http://images.amazon.com/images/P/1574323539.0...,http://images.amazon.com/images/P/1574323539.0...,http://images.amazon.com/images/P/1574323539.0...,Gene Florence now presents this completely rev...
85,0156028506,Maigret and the Madwoman,Georges Simenon,2003.0,Harvest Books,10,http://images.amazon.com/images/P/0156028506.0...,http://images.amazon.com/images/P/0156028506.0...,http://images.amazon.com/images/P/0156028506.0...,"""Simenon created one of the great moral detect..."
100,0743458389,The Ultimate Frankenstein,Byron Preiss,2003.0,I Books,10,http://images.amazon.com/images/P/0743458389.0...,http://images.amazon.com/images/P/0743458389.0...,http://images.amazon.com/images/P/0743458389.0...,On the occasion of the 60th anniversary of the...
103,1587155737,The House on the Borderland,Hodgson William Hope,2003.0,Wildside Press,10,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,http://images.amazon.com/images/P/1587155737.0...,From the Manuscript discovered in 1877 by Mess...

Search for:
  1. Authors
  2. Books
  3. Exit
  Option := 3

# Step 5: Implement Login based on User Table

5.1 Make User DataFrame

In [190]:
with open('BX-Users.csv', 'rb') as file:
    result = chardet.detect(file.read())

df_users = pd.read_csv('BX-Users.csv', encoding=result['encoding'],delimiter=";")
df_users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [198]:
split_data = df_users['Location'].str.split(',', expand=True)
df_users['city'] = split_data[0]
df_users['region'] = split_data[1]
df_users['country'] = split_data[2]
# df_users = df.drop('Location', axis=1)

df_users['Email'] = ''
df_users['Password'] = ''

,User-ID,Location,Age,city,region,country,Email
0,1,"nyc, new york, usa",NaN,nyc,new york,usa,
1,2,"stockton, california, usa",18.0,stockton,california,usa,
2,3,"moscow, yukon territory, russia",NaN,moscow,yukon territory,russia,
3,4,"porto, v.n.gaia, portugal",17.0,porto,v.n.gaia,portugal,
4,5,"farnborough, hants, united kingdom",NaN,farnborough,hants,united kingdom,
...,...,...,...,...,...,...,...
278853,278854,"portland, oregon, usa",NaN,portland,oregon,usa,
278854,278855,"tacoma, washington, united kingdom",50.0,tacoma,washington,united kingdom,
278855,278856,"brampton, ontario, canada",NaN,brampton,ontario,canada,
278856,278857,"knoxville, tennessee, usa",NaN,knoxville,tennessee,usa,
278857,278858,"dublin, n/a, ireland",NaN,dublin,n/a,ireland,

### 5.2 Register

In [201]:
email = input("Enter your e-mail: ")
country = input("Country: ")
age = input("Age: ")
password1 = input("Password: ")
password2 = input("Confirm Password: ")
if password1 == password2:
  pass
else:
  print("Try again.")

#todo: encrypt password
new_row = {'Email': email, 'Country': country, 'Age': age, 'Password': password1}

df_users = df_users.append(new_row, ignore_index=True)
df_users

KeyboardInterrupt: ignored

### 5.3 Login using the information in the user table

In [ ]:
email = input("Enter your e-mail: ")